body {
    margin: 0;
}

h1 {
    margin: 0;
}

.page {
    padding: 20px;
}

.title {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.title #chat-status {
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

#message-list > div {
    margin-bottom: 5px;
}

.messager {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    margin-top: 30px;
}

.messager #chat-input {
    min-height: 80px;
    width: 200px;
    resize: vertical;
}

.messager .sendBtn {
    background: rgb(0, 131, 219);
    color: white;
    padding: 10px 15px;
    border: solid 2px rgb(0, 131, 219);
    border-radius: 5px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}

.messager .sendBtn:hover {
    background: white;
    color: rgb(0, 131, 219);
}
