body {
    margin: 0;
    font-family: sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    border-bottom: solid 1px black;
    margin-bottom: 20px;
}

header nav {
    height: 100%;
}

header nav ul {
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
    font-size: 20px;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.page {
    padding-left: 20px;
}
