.newPost {
    display: flex;
    align-items: center;
    gap: 15px;
}

.newPost #sendBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

#posts {
    padding: 15px;
}

#posts .post {
    width: fit-content;
    padding: 10px;
    background-color: #1da1f3;
    border-radius: 20px;
    margin-bottom: 30px;
}

#posts .post p {
    margin: 0;
}

#posts .post p:first-child {
    margin-bottom: 10px;
}
