.newPost {
    display: flex;
    align-items: center;
    gap: 15px;
}

.newPost #sendBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}

#posts {
    padding: 15px;
}

#posts .post {
    width: fit-content;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 20px;
    margin-bottom: 30px;
}

#posts .post p {
    width: fit-content;
    margin: 0;
    margin-bottom: 5px;
}
/* Merci à Géraud de m'avoir soutenu moralement pendant ce projet */